<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="ideArea" contenteditable="true">

    </div>

    <button onclick="sendToServer()">
        Compile
    </button>

    <h4>
        Output
    </h4>
    <div id="outputBox">

    </div>
    <input id="inputBox" type="textbox" hidden>
</body>
<script>
    var socketKey;
    var tabSize = 4;
    var commandDict = {
        clear: function (data) {
            $("#outputBox").empty();
        },
        input: function (data) {
            $("#inputBox").show();
            $("#inputBox").focus();
        },
        print: function (data) {
            $("#outputBox").append(getFormattedString(data));
        },
        register: function (data) {
            socketKey = data;
        },
    }
    const apiEndpoint = "/api/compile";
    //const wsURL = "ws://ec2-54-234-53-50.compute-1.amazonaws.com/ws";
    const wsURL = "ws://localhost:62299/ws";
    $(document).ready(function () {
        // setup web socket
        socket = new WebSocket(wsURL);
        socket.onmessage = function (evt) {
            let dataJson = JSON.parse(evt.data);
            commandDict[dataJson.cmd](dataJson.data);
        };
        $("#inputBox").keyup(function (evt) {
            if (evt.keyCode === 13) {
                socket.send("{cmd:\"input\",data:\"" + $(this).val() + "\"}");
                $(this).hide();
            }
        });
    });
    var seperatorRegex = /W/;
    var reservedWords = [
        "abstract", "as", "base", "bool", "break", "byte",
        "case", "catch", "char", "checked", "class", "const",
        "continue", "decimal", "default", "delegate", "do", "double",
        "else", "enum", "event", "explicit", "extern", "finally",
        "fixed", "float", "for", "foreach", "goto", "if",
        "implicit", "in", "int", "interface", "internal", "is",
        "lock", "long", "namespace", "new", "null", "object",
        "operator", "out", "override", "params", "private",
        "public", "readonly", "ref", "return", "sbyte", "sealed",
        "short", "sizeof", "stackalloc", "static", "string", "struct",
        "switch", "this", "throw", "try", "typeof", "unit",
        "ulong", "unchecked", "unsafe", "ushort", "using", "virtual",
        "void", "volatile", "while"
    ];

    function getFormattedString(rawString) {
        let formattedString = rawString.replace("\t", getTab()).replace("\n\r", "<br/>").replace("\n", "<br/>");
        return formattedString;
    }

    function getTab() {
        let tab = "";
        for (var i = 0; i < tabSize; i++) {
            tab += "&nbsp";
        }
        return tab;
    }

    $("#ideArea").keyup(function (keyEvent) {
        if (keyEvent.which === 9) {

        }
        return;
        let allText = $(this).html();
        allText = allText.replace(/<\/div>/, "");
        let lines = allText.split(/<div>/);
        for (let line = 0; line < lines.length; line++) {
            let words = lines[line].split(seperatorRegex);
            let splitter = lines[line].split(/w/);
            for (let word = 0; word < words.length; word++) {

            }
        }
        });

    function sendToServer() {
        let rawText = $("#ideArea").text();
        $("#outputBox").html("Code Sent: " + rawText);
        $.ajax({
            type: "POST",
            accpets: "application/json",
            contentType: "application/json",
            data: JSON.stringify({code: rawText, filename: "Main.cs", key: socketKey }),
            url: apiEndpoint,
            success: function (data) {

            },
            failure: function (status, error) {
                $("#outputBox").addClass("error");
                $("#outputBox").html(error);
            }
        });
    }
</script>